---
layout: base.njk
title: Countries List
---

<h1>Countries List</h1>
<section class="flex flex-wrap gap-[10px]">
  <% countries.forEach(c => { %>
  <div
    class="grid grid-cols-[1fr 2fr] grid-rows-[1fr] max-w-[200px] outline outline-solid outline-red-100 p-[15px]"
  >
    <div class="no-underline text-center">
      <a href="<%= c.cca3 %>"><%= c.name.common %></a> <%= c.cca3 %>
    </div>
    <div><%- flags[c.cca3.toLowerCase()] %></div>
  </div>
  <% }) %>
</section>
